/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  /*color: inherit;*/
  background-color: #eee;
  background-image: url("../img/shattered-island.gif");
  color: #fff;
}

.jumbotron h1,
.jumbotron .h1 {
  color: inherit;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.jumbotron > hr {
  border-top-color: #d5d5d5;
}
.container .jumbotron,
.container-fluid .jumbotron {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
}
.jumbotron .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
}

.navbar {
  background-color: #1abc9c;
  border-color: #13866f;
}

.navbar-brand {
  font-weight: bold;
}

.navbar a {
  color: white;
}

.navbar-nav a:hover {
  color: #1abc9c;
}

.navbar-form button {
  background-color: #fff;
  color: #1abc9c;
}
.navbar-form button:hover {
  background-color: #0f705d;
  color: #fff;
}

.navbar-form .form-control {
  width: 130px;
}

#presentation, #inscription {
  text-align: center;
}